{% extends "admin_crud/base.html" %}

{% block breadcrumbs %}
    {% for title, link in breadcrumbs %}
        {% if not forloop.first %}›{% endif %}
        {% if link %}
            <a href="{{ link }}">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>Select note to change</h1>
    <div id="content-main">
        <ul class="object-tools">
            <li>
                <a href="{{ links.create }}" class="addlink">
                    Add note
                </a>
            </li>
        </ul>
        <div class="module" id="changelist">
            <form id="changelist-form" method="post" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="1ZVmfXhUSU4W5wJKPoTreodDs4SwGthWCf9Ozz7VunCRsXtCWn7sVpHUdwqjXedR">
                <div class="results">
                    <table id="result_list">
                        <thead>
                        <tr>
                            {% for title in object_list.titles %}
                                <th scope="col" class="column-__str__">
                                    <div class="text"><span>{{ title }}</span></div>
                                    <div class="clear"></div>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list.items %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                    {% for field in item %}
                                        <th class="field-{{ field.name }}">
                                            {% if field.link %}
                                                <a href="{{ field.link }}">{{ field.value }}</a>
                                            {% else %}
                                                {{ field.value }}
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p class="paginator">2 notes</p>
            </form>
        </div>
    </div>
    <br class="clear">

{% endblock %}